#content {
  .activity {
    .content {
      margin-top:80px;
    }

    .moreFeatures {
      .divLink:nth-child(2n) {
        margin-left: 70px;
      }
      .divLink {
        float: left;
      }
    }

  }

  .activities {

  	.groupLabel {
  		height:40px;
  		margin-top:20px;
  	}

  }


}

