$avatarSize: 120px;
$avatarSizeSmall: 60px;
$avatarSizeTiny: 30px;

#content {

  .avatar {
    
    display: flex;
    justify-content:center;
    width:100%;
    
    .avatarImageContainer {
      width:$avatarSize;
      height:$avatarSize;
      position:relative;
      display:flex;
      justify-content:center;
      align-items:center;
      overflow:hidden;
      border-radius: calc($avatarSize / 2);
      background-color: $color_grey;

      &.small {
        width: $avatarSizeSmall;
        height: $avatarSizeSmall;
        border-radius: calc($avatarSizeSmall / 2);
      }
      &.tiny {
        width: $avatarSizeTiny;
        height: $avatarSizeTiny;
        border-radius: calc($avatarSizeTiny / 2);
      }
      img {
        zoom:0.1;
        flex-shrink:0;
        min-width:100%;
        min-height:100%;
      }
    }
  }

}