#content {

  .box {
    
    padding:20px;

    &.no-padding {
      padding:0;
    }
    &.outline {
      border: 2px solid $color_grey4;
    }
    &.outline.rounded {
      border-radius:12px;
    }
    &.half {
      min-height:150px;
    }
    &.full {
      min-height: 300px;
    }
    &.linked {
      cursor: pointer;
      position:relative;
      transition: 0.06s;
    }
    &.linked:hover {
      // transform: rotate(-1deg) scale(1.1);
      z-index:99;
      box-sizing: border-box;
      box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.25), 0px 0px 10px 0px rgba(0,0,0,0.05);
      // box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.25);
      // &.whatsnew { box-shadow:inset 0px 0px 0px 10px $color1; }
      // &.agenda   { box-shadow:inset 0px 0px 0px 10px $color2; }
      // &.photos   { box-shadow:inset 0px 0px 0px 10px $color3; }

      &.news.solid {
        background-color:$color1;
        color:$color1_font;
        .grey { color:white; }
      }
      &.activities.solid {
        background-color:$color2;
        color:$color2_font;
        .grey { color:white; }
      }
      &.stories.solid {
        background-color:$color3;
        color:$color3_font;
      }
    }
    &.selected {
      color:white;
      background-color: $color1;
    }
    &.selected:hover {
      background-color: $color1;
    }
  }
}

.news { 
  .box.outline { 
    border: 2px solid $color1;
  }
  .box.solid { 
    background-color:$color1;
  }
}
.activities {
  .box.outline {
    border: 2px solid $color2;
  }
  .box.solid { 
    background-color:$color2;
  }
}
.stories {
  .box.outline {
    border: 2px solid $color3;
  }
  .box.solid { 
    background-color:$color3;
  }
}