#content {

  .box {
    
    padding:20px;

    &.no-padding {
      padding:0;
    }
    &.outline {
      border: 2px solid $color_grey;
    }
    &.outline.rounded {
      border-radius:12px;
    }
    &.half {
      min-height:150px;
    }
    &.full {
      min-height: 300px;
    }
    &.linked {
      cursor: pointer;
      position:relative;
      transition: 0.06s;
    }
    &.linked:hover {

      &.news.solid {
        background-color:$color1;
        color:$color1_font;
        .grey { color:white; }
      }
      &.activities.solid {
        background-color:$color2;
        color:$color2_font;
        .grey { color:white; }
      }
      &.stories.solid {
        background-color:$color1;
        color:$color1_font;
      }
    }
    &.selected {
      color:white;
      background-color: $color1;
    }
    &.selected:hover {
      background-color: $color1;
    }
  }
}

.news { 
  .box.outline { 
    border: 2px solid $color1;
  }
  .box.solid { 
    background-color:$color1;
  }
}
.activities {
  .box.outline {
    border: 2px solid $color2;
  }
  .box.solid { 
    background-color:$color2;
  }
}
.stories {
  .box.outline {
    border: 2px solid $color1;
  }
  .box.solid { 
    background-color:$color1;
  }
}