button {
  &.padded {
    padding-right: 30px;
    padding-left: 30px;
  }
  &.btn {
    border:none;
    font-weight:300 !important;
    white-space:normal !important;
    word-wrap:break-word;

    &:hover, &:active {
      background-color: $color_dark;
      color:white !important;
      box-shadow:none;
    }
    &:focus  {
      outline: none !important;
      background-color: $color_dark;
      color: white;
    }
    &.active, &.active:focus {
      background-color: $color_dark;
      color:white;
      box-shadow:inset 3px 3px 0 color($color_dark l(-5));
    }
    &.active:hover {
      background-color: $color_dark;
      color:white;
    }
  }
}




.news {
  button.btn-primary {
    background-color: $color1;    
  }
  button.btn {
    &:hover, &:active, &:focus, &.active, &.active:focus, &.active:hover {
      background-color: $color1;
      color: $color1_font;
    }
    &.active, &.active:focus {
      box-shadow:inset 3px 3px 0 color($color1 l(-5));
    }
  }
}

.activities {
  button.btn-primary {
    background-color: $color2;    
  }
  button.btn {
    &:hover, &:active, &:focus, &.active, &.active:focus, &.active:hover {
      background-color: $color2;
      color: $color2_font;
    }
    &.active, &.active:focus {
      box-shadow:inset 3px 3px 0 color($color2 l(-5));
    }
  }
}


.stories {
  button.btn {
    &:hover, &:active, &:focus, &.active, &.active:focus, &.active:hover {
      background-color: $color3;
      color: $color3_font;
    }
    &.active, &.active:focus {
      box-shadow:inset 3px 3px 0 color($color3 l(-5));
    }
  }
}