button {
  &.padded {
    padding-right: 30px;
    padding-left: 30px;
  }
  &.btn {
    border:2px solid $color1;
    color:$color1;
    border-radius: 9999px;
    font-weight:300 !important;
    white-space:normal !important;
    word-wrap:break-word;
    box-shadow: none;

    background-color: transparent;

    &:hover, &:active {
      background-color: $color1;
      color:$color1_font;
      box-shadow:none;
    }
    &:focus  {
      outline: none !important;
      background-color: $color1;
      color: white;
    }
    &.active, &.active:focus {
      background-color: $color1;
      color:white;
      box-shadow: none;
    }
    &.active:hover {
      background-color: $color1;
      color:white;
    }
  }
}




.news {
  button.btn-primary {
    background-color: $color1;    
  }
  button.btn {
    &:hover, &:active, &:focus, &.active, &.active:focus, &.active:hover {
      background-color: $color1;
      color: $color1_font;
    }
  }
}

.activities {
  button.btn-primary {
    background-color: $color2;    
  }
  button.btn {
    &:hover, &:active, &:focus, &.active, &.active:focus, &.active:hover {
      background-color: $color2;
      color: $color2_font;
    }
  }
}


.stories {
  button.btn {
    &:hover, &:active, &:focus, &.active, &.active:focus, &.active:hover {
      background-color: $color1;
      color: $color1_font;
    }
  }
}