#content {

  .box {

    &.calendar {

      padding:0px;
      overflow: hidden;
      height:100%;

      &.linked:hover {
        background-color: $color_lightgrey;
        box-shadow: none;
      }
      p {
        margin:4px;
      }
      &.weekend {
        // background-color:$color_darkgrey;
      }
      &.today {
        box-sizing: border-box;
        background-color: $color_lightgrey;
        // box-shadow:inset 0px 0px 0px 10px $color_primary2;
      }
      .activity {
        background-color: $color_primary2;
        color: $color_primary1_font;
        border-radius:5px;
        margin-bottom: 4px;
      }
      h4 {
        margin-bottom:12px;
      }
      .number {
        background-color: $color_primary2;
        color: $color_primary1_font;
        border-radius:15px;
        width:30px;
        height:30px;
        display:inline-block;
        line-height:30px;
      }
    }
  }

  .calendar-header {
  }

  .row {
    &.calendar-week {
      height:110px;
    }
  }
}
