#content {

  .box {

    &.calendar {

      padding:0px;
      overflow: hidden;
      height:100%;

      &.linked:hover {
        background-color: $color_grey4;
        box-shadow: none;
      }
      p {
        margin:4px;
      }
      &.weekend {
        // background-color:$color_dark;
      }
      &.today {
        box-sizing: border-box;
        background-color: $color_grey4;
        // box-shadow:inset 0px 0px 0px 10px $color2;
      }
      .activity {
        background-color: $color2;
        color: $color1_font;
        border-radius:5px;
        margin-bottom: 4px;
      }
      h4 {
        margin-bottom:12px;
        line-height:36px;
        font-size:18px;

        &.highlight {
          background-color: $color2;
          color: $color1_font;
          border-radius:18px;
          width:36px;
          height:36px;
          display:inline-block;
        }
        
      }
      .number {
        background-color: $color2;
        color: $color1_font;
        border-radius:15px;
        width:30px;
        height:30px;
        display:inline-block;
        line-height:30px;
      }
    }
  }

  .calendar-header {
  }

  .row {
    &.calendar-week {
      height:100px;
    }
  }
}
