#content {

  .box {

    &.calendar {

      padding:0px;
      transition: 0.07s !important;
      overflow: hidden;
      height:100%;
      background-color:$color_lightgrey;
      p {
        margin:4px;
      }
      &.weekend {
        background-color:$color_darkgrey;
      }
      &.today {
        box-sizing: border-box;
        background-color: #FFF3A3;
        // box-shadow:inset 0px 0px 0px 10px $color_primary2;
      }
      .activity {
        background-color: $color_primary2;
        color: $color_primary1_font;
        border-radius:5px;
        margin-bottom: 4px;
      }
      .number {
        background-color: $color_primary2;
        color: $color_primary1_font;
        border-radius:15px;
        width:30px;
        height:30px;
        display:inline-block;
        line-height:30px;
      }
    }
  }

  .row {
    &.calendar-week {
      height:120px;
    }
  }
}
