.card {

  border-radius:6px 6px 20px 20px;
  border:2px solid $color2;
  background-color: $color2_light;

  .inside {
    padding:20px;
    padding-top:25px;
  }

  &.half {
    min-height:150px;
  }
  &.full {
    min-height: 300px;
  }
  &.linked {
    cursor: pointer;
    position:relative;
  }
  &.fixedheight {
    height:350px;
    overflow:hidden;
  }
  h2 {
    color: $color1;
    margin-bottom:30px;
  }
  .date {
    line-height:1.4 !important;
  }
  &.linked:hover {

    &.news.solid {
      background-color:$color1;
      color:$color1_font;
      .grey { color:white; }
    }
    &.activities.solid {
      background-color:$color1;
      color:$color1;
      .grey { color:white; }
    }
    &.stories.solid {
      background-color:$color1;
      color:$color1_font;
    }
  }
  &.selected {
    color:white;
    background-color: $color1;
  }
  &.selected:hover {
    background-color: $color1;
  }

  &.news { 
    border:2px solid $color_activity;
    color: $color2 !important;
    &.solid {
      border:2px solid color($color1 l(-10)) !important;
      background-color: $color1 !important;
      color: $color1_font !important;
    }
  }

  &.activities {
    border:2px solid $color_activity;
    color: $color2 !important;
    &.solid {      
      background-color: $color2 !important;
      color: $color2_font !important;
    }
  }
  &.stories {
    border:2px solid $color_activity;
    color: $color2 !important;
    &.solid {
      border:2px solid color($color1 l(-10)) !important;
      background-color: $color1 !important;
      color: $color1_font !important;
    }
  }
  .activityButton {
    border:2px solid $color_activity;
    border-radius:9999px;
    height:42px;
    line-height:40px;
    color:$color_activity;
    width:101%; /* ugly hack that looks ugly */
    left:-2px;
    bottom:-2px;
    position:absolute;
    .icon {
      float:right;
      position:relative;
      left:1px;
      top:-3px;
    }
  }
}


.news { 
  .card.outline { 
    border:2px solid $color_activity;
    color: $color2;
  }
}
.activities {
  .card.outline {
    border:2px solid $color_activity;
    color: $color_dark;
  }
}
.stories {
  .card.outline {
    border:2px solid $color_activity;
    color: $color2;
  }
}

.news { 
  .card.solid {
    border:2px solid color($color1 l(-10));
    background-color: $color1;
    color: $color1_font;
  }
}
.activities {
  .card.solid { 
    border:2px solid color($color2 l(-10));
    background-color: $color2;
    color: $color2_font;
  }
}
.stories {
  .card.solid {
    border:2px solid color($color1 l(-10));
    background-color: $color1;
    color: $color1_font;
  }
}
