.card {

  padding:20px;
  border-radius:22px;
  border:2px solid $color_grey1;
  background-color: white;
  &.half {
    min-height:150px;
  }
  &.full {
    min-height: 300px;
  }
  &.linked {
    cursor: pointer;
    position:relative;
  }
  &.fixedheight {
    height:400px;
    overflow:hidden;
  }
  h2 {
    margin-bottom:30px;
  }
  .date {
    line-height:1.4 !important;
  }
  &.linked:hover {

    &.news.solid {
      background-color:$color1;
      color:$color1_font;
      .grey { color:white; }
    }
    &.activities.solid {
      background-color:$color2;
      color:$color2;
      .grey { color:white; }
    }
    &.stories.solid {
      background-color:$color3;
      color:$color3_font;
    }
  }
  &.selected {
    color:white;
    background-color: $color1;
  }
  &.selected:hover {
    background-color: $color1;
  }

  &.news { 
    border:2px solid $color_activity;
    color: $color2 !important;
    &.solid {
      border:2px solid color($color1 l(-10)) !important;
      background-color: $color1 !important;
      color: $color1_font !important;
    }
  }

  &.activities {
    border:2px solid $color_activity;
    color: $color2 !important;
    &.solid {      
      background-color: $color2 !important;
      color: $color2_font !important;
    }
  }
  &.stories {
    border:2px solid $color_activity;
    color: $color2 !important;
    &.solid {
      border:2px solid color($color3 l(-10)) !important;
      background-color: $color3 !important;
      color: $color3_font !important;
    }
  }
}


.news { 
  .card.outline { 
    border:2px solid $color_activity;
    color: $color2;
  }
}
.activities {
  .card.outline {
    border:2px solid $color_activity;
    color: $color2;
  }
}
.stories {
  .card.outline {
    border:2px solid $color_activity;
    color: $color2;
  }
}

.news { 
  .card.solid {
    border:2px solid color($color1 l(-10));
    background-color: $color1;
    color: $color1_font;
  }
}
.activities {
  .card.solid { 
    border:2px solid color($color2 l(-10));
    background-color: $color2;
    color: $color2_font;
  }
}
.stories {
  .card.solid {
    border:2px solid color($color3 l(-10));
    background-color: $color3;
    color: $color3_font;
  }
}
