
$color_light: #FFFFFF;
$color_grey: #A6A6A6;
$color_dark: #212121;

$color1: #823FC2;
$color2: #5CDAC3;
$color3: #66D4EA;
$color4: #7D96EA;
$color5: #9D5ED7;

$color1_font: #FFF;
$color2_font: #FFF;

$color1_light: #FAF7FD; /* not needed */
$color2_light: #F7FDFC;

$color_activity: $color2;
$color_activity_font: $color2_font;
$color_activity_dark: color($color_activity l(-10));
