$color_dark: #282828;
$color_light: #FFF;
$color_grey: #EAEAEA;
$color_lightgrey: #F2F2F2;
$color_darkgrey: #999;

$color_highlight: #77529D;

// $color_primary1: #ED695A;
// $color_primary2: #77529D;
// $color_primary3: #62BA6B;

$color_primary1: #77529D;
$color_primary2: #77529D;
$color_primary3: #77529D;

$color_primary1_font: #FFF;
$color_primary2_font: #FFF;
$color_primary3_font: #FFF;

$color_primary1_hover: #8b60b8;
$color_primary2_hover: #8b60b8;
$color_primary2_hover: #8b60b8;

$iconSize: 120px;
$iconSizeSmall: 60px;