#popup {

  .container {
    height: calc(100% - 70px - 75px);
  }

  .filters {

    position: relative;
    top: 70px;

    background-color: $color1;
    margin-top: 38px;
    margin-bottom: 12px;
    height: calc(100% - 50px);
    border-radius: 20px;

    color: $color_light;
    overflow: hidden;

    .sideStepBullets {
      position:absolute;
      width:100px;
    }

    .content {
      border:1px solid blue;
      margin-left:130px; /* to make space for the stepBullets */
      position:relative;

      .filterActivities {
        position:absolute;
        top:120px;
        width: 100%;
        text-align:center;
        .filterOptions {
          display: inline-block;
        }
      }

      .filterFees {
        position:absolute;
        top:273px;
        width: 100%;
        text-align:center;
        .filterOptions {
          display: inline-block;
        }
      }

      .filterStatus {
        position:absolute;
        top:422px;
        width: 100%;
        text-align:center;
        .filterOptions {
          display: inline-block;
        }

      }

      .filterOptions {
        .filterOptionInlineItem {
          float: left;
          min-width: 90px;
          margin: 0 30px;
        }
      }
      
      .filterActivitesList {

      }

    }

    .activities {

      overflow: scroll;
      height: 85%;

      .activityType {
        
        float: left;
        width: 25%;
        /* margin-bottom: 15px; */
        min-height: 110px;
        font-size: 17px;

        .icon {
          margin-bottom: 5px;
        }

      }
    }
  }
  
}

