#popup {

  .container {
    height: calc(100% - 70px - 75px);
  }

  .filtersBackground {
    background-color: $color1;
    margin-top: 38px;
    margin-bottom: 12px;
    height: calc(100% - 50px);
    border-radius: 20px;
    color: white;
    overflow: hidden;
  }

  .applyFilterButton {

    /* Have fun Andi */

  }

  div.row.activities {
      overflow: scroll;
      height: 85%;
  }

  .activities {

    .activityType {
      
      float: left;
      width: 25%;
      /* margin-bottom: 15px; */
      min-height: 110px;
      font-size: 17px;

      .icon {
        margin-bottom: 5px;
      }

    }
  }
  
}
