$iconSize: 120px;
$iconSizeSmall: 60px;

#content {

  .icon {
    
    .inner {
      display:inline-block;
      position:relative;
      width:$iconSize;
      height:$iconSize;
      svg {
        position:absolute;
        left:0px;
        top:0px;
        width: $iconSize;
        height: $iconSize;
      }
    }

    &.small .inner {
      width:$iconSizeSmall;
      height:$iconSizeSmall;
      svg {
        width: $iconSizeSmall;
        height: $iconSizeSmall;
      }
    }
    
  }

}