$iconSize: 80px;
$iconSizeMedium: 50px;
$iconSizeSmall: 50px;

#content {

  .icon {

    display: inline-block;
    vertical-align: middle;

    width: $iconSize;
    height: $iconSize;

    /* filled is needed in middle icon in main menu only so far */
    &.filled {
      background-color:$color_light;
      border-radius:50%;
    }

    svg {

      display: inline-block;
      vertical-align: middle;
      
      width: $iconSize;
      height: $iconSize;
    }

    &.medium {
      width: $iconSizeMedium;
      height: $iconSizeMedium;
      
      position: relative;
      top: calc(-$iconSizeMedium / 2);
      margin-bottom: calc(-$iconSizeMedium);

      svg {
        width: $iconSizeMedium;
        height: $iconSizeMedium;
        position:relative;
        top: calc(-$iconSizeMedium / 2 );
        left: calc(-$iconSizeMedium / 2);
      }
    }

    &.small {
      width: $iconSizeSmall;
      height: $iconSizeSmall;

      position: relative;
      
      svg {
        width: $iconSizeSmall;
        height: $iconSizeSmall;
        position:relative;
      }
    }
    
  }

}