$iconSize: 120px;
$iconSizeMedium: 100px;
$iconSizeSmall: 60px;

#content {

  .icon {
    display: inline-block;
    width: $iconSize;
    height: $iconSize;
    svg {
      width: $iconSize;
      height: $iconSize;
    }

    &.small {
      width: $iconSizeSmall;
      height: $iconSizeSmall;
      svg {
        width: $iconSizeSmall;
        height: $iconSizeSmall;
      }
    }

    &.medium {
      width: $iconSizeMedium;
      height: $iconSizeMedium;
      svg {
        width: $iconSizeMedium;
        height: $iconSizeMedium;
      }
    }
    
  }

}