
/* This is for the opened main menu */

#mainmenu {

  display: none;
  &.opened {
    display: block;
  }

  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  background: rgba(255,255,255,0.7);
  width: 100%;
  height: 100%;
  text-align: center;

  #menu {

    display: block;
    position: relative;

    background: $color1_light;
    width: 150px;
    height: 820px;
    margin: 115px auto 60px;
    padding: 45px 0;
    border-radius: 200px;
    border: 2px solid $color1;

    .line {
      position:absolute;
      width:10px; /* because svg is 20px in width, and it's at @2x */
      top: -52px;
      left: 66px;
    }

    /* Default main menu icon colors */
    .button {
      
      background-color: transparent;
      border: transparent;

      margin: 0 0 35px 0;

      color: $color1; /* Solidarity Purple */
      &.inactive {
        color: $color_grey;
      }

      .icon {
        margin-bottom: 10px;
      }

    }
  }

}


/* Menu opened on gradient background */
.backgroundGradient {

  #mainmenu {
 
    background: transparent;

    #menu {

      background: transparent;
      border: 2px solid $color_light;
      .button {
        color: $color_light;
        &.inactive {
          color: $color_grey;
        }
      }
    }
  }
}

