$navbar-bottom-height: 110px;

#content {

  .navbar {

    margin-bottom: 0;
    border:0;

    &.navbar-bottom {
      width:100%;
      min-height:$navbar-bottom-height;
      border-top: 1px solid $color_grey4;
      ul {
        li a {
          height:$navbar-bottom-height;
        }
      }
      .icon {
        position:relative;
        top:4px;
      }
    }

    ul {

      float:none;
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;

      li {

        flex:1;

        a {

          padding:0;
          padding-bottom:14px;
          box-sizing: border-box;
          text-align: center;
          font-size:24px;
          font-weight:300;

          color: $color_grey2;
          background-color: $color_light;
          
          &:hover {
            // background-color: $color_grey4;
          }
          &.active {
            text-decoration:none;
            // &.news { background-color: $color1; color: $color1_font; }
            // &.activities   { background-color: $color2; color: $color2_font; }
            // &.stories   { background-color: $color3; color: $color3_font; }

            &.news { color: $color1; }
            &.activities   { color: $color2; }
            &.stories   { color: $color3; }
          }
          &.active:hover {
/*             color: $color_light;
            background-color: $color_dark;
            &.news { background-color: $color1; color: $color1_font; }
            &.activities   { background-color: $color2; color: $color2_font; }
            &.stories   { background-color: $color3; color: $color3_font; } */
          }
        }
      }

    }

  }

}