$navbar-bottom-height: 110px;

#content {

  .navbar {

    margin-bottom: 0;
    border:0;

    &.navbar-top {
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    }

    &.navbar-bottom {
      width:100%;
      min-height:$navbar-bottom-height;
      border-top: 1px solid $color_grey4;
      ul {
        li a {
          height:$navbar-bottom-height;
        }
      }
      .icon {
        position:relative;
        top:4px;
      }
    }

    ul {

      float:none;
      display:flex;
      flex-direction: row;
      flex-wrap: nowrap;

      li {

        flex:1;

        a {

          padding:0;
          padding-bottom:14px;
          box-sizing: border-box;
          text-align: center;
          font-size:24px;
          font-weight:300;

          background-color: $color_light;
          
          &:hover {
            background-color: $color_grey4;
          }
          &.active {
            color:$color_light;
            background-color: $color_dark;
            text-decoration:none;
            // font-weight:400;
            //box-shadow: inset 3px 3px 0px rgba(0,0,0,.125), 0px 0px 0px rgba(0,0,0,.125);
            &.news { background-color: $color1; color: $color1_font; }
            &.activities   { background-color: $color2; color: $color2_font; }
            &.stories   { background-color: $color3; color: $color3_font; }
          }
          &.active:hover {
            color: $color_light;
            background-color: $color_dark;
            &.news { background-color: $color1; color: $color1_font; }
            &.activities   { background-color: $color2; color: $color2_font; }
            &.stories   { background-color: $color3; color: $color3_font; }
          }
        }
      }

    }

  }

}