.splash {

  background-image: url('../images/app/alo_welcome_background.png');
  background-repeat: repeat;
  background-size: contain; 
  height:100%;
  width:100%;

  svg {
    margin-top: 30vh;
    width:200px;
    margin-bottom: 10vh;
  }
  
}