/* Start screen */

/* Gradient to be applied to main div */
.backgroundGradient {
  background-image: url('../images/app/alo_welcome_background.png');
  background-repeat: repeat;
  background-size: contain; 
  height:100%;
  width:100%;

  &.start-step-1 {
    background-image: none;
    background-color: $color2;
  }

  &.start-step-2 {
    background-image: none;
    background-color: $color3;
  }

  &.start-step-3 {
    background-image: none;
    background-color: $color4;
  }

  &.start-step-4 {
    background-image: none;
    background-color: $color5;
  }

}

.start {

  color: $color_light;
  padding-top:40px;

  h4 {
    margin-bottom: 30px;
  }



  .selections {
    position:relative;

    .stepBullets {
      position:absolute;
      width:140px;
      top:-90px;
    }
    .countries {
      padding-top: 40px;
    }

    .areas {
      padding-top:20px;
    }

    .country,
    .area {
      display: inline-block;
      margin: 40px 60px;
      .text {
        padding-top: 20px;
        display: inline-block;
      }
    }
  }

  .arrowUp {
    width: 22px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    left: -2px; /* to cater for small offset in centering the arrow */
  }

}