.top-container {

  .top-bar {

    height:70px;
    padding: 10px;

    .top-left {
      float:left;
      width:170px;
    }
    .top-middle {

      // flex: 4;
    }
    .top-right {
      float:right;
      width:170px;
    }

    .topNavWidget {

      width:0;
      margin: auto;

      #mainMenuIcon {

        position:relative;
        left:-20px;
        top:2px;
        &.active {

        }
        z-index:9999;

      }
      .topNavWidgetIcons{

        position:relative;
/*        top:-28px; */

        #leftContextualTopIcon {
          position:absolute;
          left:-150px;

        }
        #rightContextualTopIcon {
          position:absolute;
          right:-150px;
        }
      }

    }


  }
}

