.top-container {

  .top-bar {

    height: 110px;
    padding: 25px;

    .top-left {
      float:left;
      width:170px;

      #backIcon {
        position:relative;
        z-index: 9997; /* Back button is always on top */
      }

    }
    .top-middle {

      .topNavWidget {

        width:0;
        margin: auto;

        #mainMenuIcon {

          position:relative;
          left:-31px;
          top:-10px;
          z-index: 9999; /* Menu button is always on top */

          &.active {

          }

        }

        .topNavWidgetIcons{

          position:relative;

          #leftContextualTopIcon {
            position:absolute;
            left:-150px;
          }
          #rightContextualTopIcon {
            position:absolute;
            right:-150px;
          }
        }

      }

    }

    .top-right {
      float:right;
      width:170px;
      #filtersIcon {
        position:relative;
        z-index: 9996; /* Filters button is always on top */
      }

    }

    h1 {
      color:$color1;
      margin-top: -2px;
      font-size: 17px;
      font-weight: 400;
    }

  }
}

