.typeselector { 
  .box.solid { 
    background-color: $color2;
  }

  .activity-item {
    cursor: pointer;
    color: $color_dark;
    border: 2px solid transparent;
    border-radius:22px;
    &.selected {
      background-color: white;
      border-color: $color_activity;
    }
  }

}

.typeselectorbutton {
  margin-top:20px;
  margin-bottom:20px;
}