$color_dark: #282828;
$color_light: #FFF;
$color_grey: #EAEAEA;
$color_lightgrey: #F2F2F2;
$color_darkgrey: #999;
$color_highlight: #77529D;

// $color_primary1: #ED695A;
// $color_primary2: #77529D;
// $color_primary3: #62BA6B;

$color_primary1: #77529D;
$color_primary2: #77529D;
$color_primary3: #77529D;

$color_primary1_font: #FFF;
$color_primary2_font: #FFF;
$color_primary3_font: #FFF;

$color_primary1_hover: #8b60b8;
$color_primary2_hover: #8b60b8;
$color_primary2_hover: #8b60b8;

#__bs_notify__ {
  display:none !important;
}

body {
  overflow-y: scroll;
  font-weight:300;
}

button {
  &.padded {
    padding-right: 30px;
    padding-left: 30px;
  }
  &.btn {
    font-weight:200;
  }
  &.btn:focus {
    outline: none !important;
  }
  &.btn:hover {
    background-color: $color_primary1_hover;
    color:white;
  }
  &.btn-default.active, .btn-default:focus  {
    background-color: $color_primary1;
    color: white;
  }
  &.btn-default.active:hover {
    background-color: $color_primary1_hover;
    color:white;
  }
  &.btn-default.active:focus {
    background-color: $color_primary1;
    color:white;
  }
}

#content {
  .mainContainer {
    padding-top: 160px;
    &.collapsed {
      padding-top: 85px;
    }
    padding-bottom: 60px;
  }
  .grey {
    color: $color_darkgrey;
  }
  .box {
    padding:20px;

    &.white {
      background-color:white;
    }
    &.solid {
      // &.whatsnew { background-color: $color_primary1; color: $color_primary1_font; }
      // &.agenda   { background-color: $color_primary2; color: $color_primary1_font; }
      // &.photos   { background-color: $color_primary3; color: $color_primary1_font; }
    }
    &.calendar {
      padding:6px;
      transition: 0.07s !important;

      &.weekend {
        background-color:$color_lightgrey;
      }
      &.today {
        box-sizing: border-box;
        box-shadow:inset 0px 0px 0px 10px $color_primary1;
        transform: rotate(-3deg);
      }
      .activity {
        background-color: $color_primary1;
        color: $color_primary1_font;
        border-radius:5px;
        margin-bottom: 4px;
      }
    }

    &.half {
      min-height:150px;
    }
    &.full {
      min-height: 300px;
    }
    &.linked {
      cursor: pointer;
      position:relative;
      transition: 0.06s;
    }
    &.linked:hover {
      transform: rotate(-1deg) scale(1.1);
      z-index:9999;
      box-sizing: border-box;
      box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.15), 0px 0px 10px 0px rgba(0,0,0,0.2);
      // &.whatsnew { box-shadow:inset 0px 0px 0px 10px $color_primary1; }
      // &.agenda   { box-shadow:inset 0px 0px 0px 10px $color_primary2; }
      // &.photos   { box-shadow:inset 0px 0px 0px 10px $color_primary3; }

      &.whatsnew.solid {
        background-color:$color_primary1;
        color:$color_primary1_font;
        .grey { color:white; }
      }
      &.agenda.solid {
        background-color:$color_primary2;
        color:$color_primary2_font;
        .grey { color:white; }
      }
      &.photos.solid {
        background-color:$color_primary3;
        color:$color_primary3_font;
      }
    }
    &.selected {
      color:white;
      background-color: $color_primary1;
    }
    &.selected:hover {
      background-color: $color_primary1;
    }
  }

  .row {
    &.linked {
      cursor: pointer;
      box-sizing: border-box;
      border: 10px solid transparent;
    }
    &.linked:hover {
      border: 10px solid $color_primary1;
    }
    &.half {
      height:160px;
    }
  }

  .expand {
    height:100%;
  }


  .bottom-buffer { margin-bottom: 12px; }
  .calendar {
    .bottom-buffer {
      margin-bottom: 6px;
    }
    h2 {
      margin-top:100px;
      margin-bottom:30px;
    }
  }

  div.icon {
    .inner {
      display:inline-block;
      position:relative;
      width:190px;
      height:190px;
      svg {
        position:absolute;
        left:0px;
        top:0px;
        width:190px;
        height:190px;
      }
    }
  }

  .photo {
    width:100%;
  }
  .photoThumb {
    float:left;
  }

  .navbar {

    border:none;
    text-align:center;

    .nav {
      float:none;
      li {
        display:inline-block;
        float:left;
        width:33.33%;
        vertical-align:middle;
        padding:6px;
        a {
          font-size:24px;
          font-weight:300;
          border-radius:4px;

          &:hover {
            background-color: $color_dark;
            // &.whatsnew { background-color: $color_primary1; }
            // &.agenda   { background-color: $color_primary2; }
            // &.photos   { background-color: $color_primary3; }
          }
          &.active {
            color:white;
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
            &.whatsnew { background-color: $color_primary1; }
            &.agenda   { background-color: $color_primary2; }
            &.photos   { background-color: $color_primary3; }
          }
        }
      }
      &.header {
        text-align:left;
        height:70px;

        a {
          color:#FFF;
          text-decoration: none;
          &:hover {
            color:white;
            text-decoration:none;
          }
        }
        h1 {
          font-size:24px;
          font-weight:300;
        }
      }
    }

    .navbar-nav {
      height:78px;
      transition-property: height;
      transition-duration: 0.25s;
      transition-delay:0.1s;
      transition-timing-function: ease-out;
      overflow:hidden;
      &.collapsed {
        height:0px;
      }
    }

    .navbar-toggle {
      border:none;
      background-color: $color_highlight;
      cursor:pointer;
      color:white;
      &:hover {
        // background-color: white;
      }
    }

  }

  footer {
    position:fixed;
    bottom:0px;
    left:20px;
    padding:10px;
    a {
      color:white;
      text-shadow: 0 0 2px rgba(0,0,0,0.4); 
    }
  }

}

@media screen and (max-width:768px) {

  .nav li {
    display:block;
    margin:0
  }

}

/*
@media all and (min-width: 960px) {

  #content {
    h1 {
      font-size: 50px;
      color:yellow;
    }
  }
}

// ipad portrait
@media all and (max-width: 959px) and (min-width: 600px) {
  #content {
    h1 {
      font-size: 5vw;
      color:red;
    }
    .nav {}
  }
}

@media all and (max-width: 599px) {
  #content {
    h1 {
      font-size: 30px;
      color:green;
    }
  }
}*/