$color_dark: #282828;
$color_light: #FFF;
$color_grey: #EAEAEA;
$color_highlight: #8500FF;

#__bs_notify__ {
  display:none !important;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  color:$color_dark;
  background-color:$color_grey;
}

#content {
  .jumbotron {
    background-color:$color_grey;
  }
  .centered {
    text-align:center;
  }
  .white {
    background-color:white;
  }
  .top-buffer { margin-top:20px; }

  a:hover .box h2 {
    color:red;
    text-decoration: none !important;
    &:hover {
      color:green;
     text-decoration: none !important;

    }
  }

  .box {
    padding:20px;
    height: 300px;
    &.half {
      height:120px;
    }

    &.linked {
      cursor: pointer;
    }
    &.linked:hover {
      background-color: white;
      box-sizing: border-box;
      box-shadow:inset 0px 0px 0px 10px $color_highlight;
    }
    &.selected {
      color:white;
      background-color: $color_highlight;
    }
    &.selected:hover {
      background-color: $color_highlight;
    }
    &.padded[class*="col-"] {
      background-clip: padding-box;
      border: 4px solid transparent;
    }

  }

  .row {
    &.linked {
      cursor: pointer;
      box-sizing: border-box;
      border: 10px solid transparent;
    }
    &.linked:hover {
      // box-shadow:inset 0px 0px 0px 10px $color_highlight;
      border: 10px solid $color_highlight;
      
      .box {
        // background-clip: padding-box;
        // border: 10px solid transparent;
      }
    }
  }
  .navbar {

    .navbar-toggle {
      border:none;
      background-color: $color_highlight;
      cursor:pointer;
      color:white;
      &:hover {
//        background-color: white;
      }

    }
    a {
      font-size:20px;
//      text-decoration:underline;
    }
    a:hover {
      background-color: $color_highlight;
    }

    a.navbar-brand {
      color:white;
    }
    a.active {
      color:white;
    }
    .navbar-collapse {
      text-align: center;
      border:none;
      box-shadow:none;
      -webkit-box-shadow:none;
    }
  }

}


@media all and (min-width: 960px) {

  #content {
    h1 {
      font-size: 50px;
    }
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  #content {
    h1 {
      font-size: 5vw;
    }
  }
}

@media all and (max-width: 599px) {
  #content {
    h1 {
    font-size: 30px;
   }
  }
}