$color_dark: #282828;
$color_light: #FFF;

#__bs_notify__ {
  display:none !important;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  color:$color_dark;
  background-color:$color_light;
}

#content {
  a {
    text-decoration:underline;
  }
  a:hover {
    background-color: red;
  }

  a.navbar-brand {
    color:$color_light;
  }

  h1 {
    font-size:4vw;
  }

}


@media all and (min-width: 960px) {

  #content {
    h1 {
      font-size: 50px;
    }
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
  #content {
    h1 {
      font-size: 5vw;
    }
  }
}

@media all and (max-width: 599px) {
  #content {
    h1 {
    font-size: 30px;
   }
  }
}